In [1]:
# Importing the libraries
import numpy as np
import pandas as pd
import pickle

In [2]:
dataset = pd.read_csv('data.csv')
dataset

   number1  number2  prediction
0        1        2           5
1        3        4          11
2        2        2           6
3        4        1           6
4        5        0           5
5       10        2          14

In [3]:
#Splitting Training and Test Set
#Since we have a very small dataset, we will train our model with all availabe data.

from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [6]:
X=dataset.drop(['prediction'],axis=1)
X

   number1  number2
0        1        2
1        3        4
2        2        2
3        4        1
4        5        0
5       10        2

In [7]:
y=dataset.drop(['number1','number2'],axis=1)
y

   prediction
0           5
1          11
2           6
3           6
4           5
5          14

In [8]:
#Fitting model with trainig data
regressor.fit(X, y)

LinearRegression()

In [9]:
# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

In [10]:
# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[10, 5]]))

[[20.]]